.element-background {
    padding: 15px;
    border: 1px solid #bfc9d4;
    border-radius: 6px;
}
.font-family-showcase {
    width: 18rem;
    border: 1px solid #e0e6ed;
    border-radius: 6px;
    background: #fff;
    margin: 0 auto;
}
.font-family-showcase .font-family-text { padding: 20px; border-bottom: 1px solid #e0e6ed; }
.font-family-showcase .font-family-text p { font-size: 40px; margin-bottom: 0; }
.font-family-showcase .font-family-info { padding: 20px; background-color: #ebedf2; }
.font-family-showcase .font-family-info h5 { font-size: 17px; margin-bottom: 0; }
.font-family-showcase .font-family-info a {
    font-weight: 600;
    font-size: 13px;
    color: #fb263c;
}
.font-family-showcase .font-family-info .font-family-link {
    margin-top: 30px;
    text-align: center;
}
@media (max-width: 575px) {
    .font-family-showcase { width: auto; }
}