.mr {
    float: right !important;
}

.ml {
    float: left !important;
}

.tr {
    text-align: right !important;
}

.tl {
    text-align: left !important;
}

.widget.widget-one .widget-heading h6{
	padding-right: 15px;
    padding-bottom: 21px;
    margin-bottom: 24px;
    border-bottom: 1px dashed #e0e6ed;
}

.widget-card-two .card-bottom-section h3 {
	font-size: 23px;
	color: #fb263c;
	font-weight: 700;
}

.widget-card-two .card-bottom-section h5 {
	color: #515365;
}

.widget.widget-one .w-chart .w-chart-section .w-stats {
	color: #fb263c;
}

.breadcrumb {
	background-color: #F1F2F3;
}

.widget-content .qr-display  {
	text-align: center;
}

.widget-content .qr-display img {
	width: 200px;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.videolisting a{
    position: relative;
}

.videolisting a{
    position: relative;
    height: 250px;
    padding: 5px;
}

.videolisting a p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #8dbf42;
    z-index: 9999;
    color: #fff;
    height: 10%;
    padding: 25px;
}

.videolisting a img {
    padding: 0px;
}