.widget-content-area {
    box-shadow: none!important;
}

#column-filter .badge {
    background: transparent;
}
#column-filter .badge-primary {
    color: #fb263c;
    border: 2px dashed #fb263c;
}
#column-filter .badge-warning {
    color: #e2a03f;
    border: 2px dashed #e2a03f;
}
#column-filter .badge-danger {
    color: #e7515a;
    border: 2px dashed #e7515a;
}
.toggle-list a {
    color: #fff !important;
    background-color: #fb263c!important;
    border-color: #fb263c;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-right: 5px;
}